*{
    padding: 5;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:  #23242a;
}

nav{
    background-color:  #3a3a3a;
    height: 80px;
    width: 100%;

}

nav ul{
    margin: 0;
    list-style-type: none;
    width: 100%;
    text-align: center; 
}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;

}

nav ul li a{
color:white;
font-size: 17px;
text-transform: uppercase;
text-decoration: none;
padding: .2em 1em; 
}

.boxbtn{
    font-size: 30px;
    color: var(--s-colour);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#box{
    display: none;
}



#btn{
    color: pink;
}


li { 
    display: inline; 
    min-width:100px;
}
li:hover{
    background: #c85e01;
    transition: .5s;
}







/*Products Page */

.departments-header h2{
    text-align:center;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    border-bottom: 10px solid rgb(71, 71, 71);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.dept-container{
    max-width: 2500px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dept{
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.dept h3{
    color: white;
    padding-top:30px;
    padding-bottom:20px;
}

.dept h3:hover{
    color:#c85e01;
    transition: .5s;
}

img:hover{
  opacity: 0.5;
}

.products-header h2{
    text-align:center;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    border-bottom: 10px solid rgb(71, 71, 71);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.product-container{
    max-width: 2000px;
    margin: 3rem 0;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item{
    width: calc(20% - 16px);
    margin: 8px;
    max-width: 250px;
}
.product-item img{
    width: 100%;
    display: block;
}
.product-item .product-name{
    display: block;
    text-decoration: none;
    font-size: 20;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(71, 71, 71);
    min-height: 100px;
    font-size: 20px;
}
.product-item .price{
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(71, 71, 71);
    font-size: 20px;
}

.product-item .price{
    color: var(--s-colour);
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(71, 71, 71);
    font-size: 20px;
}

.product-item .instrument-type{
    visibility: hidden;
}

@media screen and (max-width: 1200px){
    .product-item{
        width: calc(25% - 16px);
    }
}
@media screen and (max-width: 992px){
    .product-item{
        width: calc(33.333% - 16px);
    }
}
@media screen and (max-width: 768px){
    .product-item{
        width: calc(50% - 16px);
    }
}
@media screen and (max-width: 576px){
    .product-item{
        width: calc(100% - 16px);
    }
}

