<!-- employee.html -->

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.bunny.net/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/employee.css">
    </head>

    <body>
        <div class="customers">
            <div class="customer-table">
                <h2 class="customer-title">
                    Customer Table
                </h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">House No.</th>
                            <th scope="col">Street Name</th>
                            <th scope="col">Town</th>
                            <th scope="col">Postcode</th>
                            <th scope="col">Customer Action</th> 
                        </tr>
                    </thead>
                    <tbody th:each="customer : ${customers}">
                        <tr>
                            <th scope="row" th:text="${customer.id}"></th>
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.email}"></td>
                            <td type="hidden" th:text="${customer.password}"></td>
                            <td th:text="${customer.birth}"></td>
                            <td th:text="${customer.housenumber}"></td>
                            <td th:text="${customer.streetname}"></td>
                            <td th:text="${customer.townname}"></td>
                            <td th:text="${customer.postcode.toUpperCase()}"></td>
                            <td>
                                <a class="actionButton" th:href="@{/employeeDeleteCustomer(customerID_Delete=${customer.id})}">Delete</a>
                                <a class="actionButton" th:href="@{/employeeUpdateCustomer(customerID_Update=${customer.id})}">Update</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
