*{
    padding: 5;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:  #23242a;
    
}

nav{
    background-color:  #3a3a3a;
    height: 80px;
    width: 100%;
}

nav ul{
    margin: 0;
    list-style-type: none;
    width: 100%;
    text-align: center; 
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: .2em 1em; 
}

nav ul li:hover{
    background-color: #c85e01;

}

.contact-header{
    padding-bottom: 30px;
}

.contact-header h2{
    text-align:center;
    padding: 40px;
    font-size: 30px;
    border-bottom: 10px solid rgb(71, 71, 71);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}




/*Contact us form*/

.container {
    background: rgb(71, 71, 71);
    margin:auto;
    width:50%;
    border:3px solid rgb(71, 71, 71);
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 100px;
}

.container-box{
    padding: 5px;
}


.titleh3{
    color: #c85e01;
    padding-bottom: 20px;
}

.form input{
    width:100%;
    border: none;
    border-bottom:#23242a;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width:100%;
    border: 1px solid #23242a;
    outline:none;
    padding:10px;
    box-sizing: border-box;
}

label{
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    border:none;
    outline:none;
    color: black;
    height:20px;
    border-radius:3px;
    margin-top: 20px;
}


/*Footer*/

.footer {
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color:  #3a3a3a;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .links li {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .links li a {
    color: white;
  }
  .links li a:hover {
    color: #c85e01;
  }
  .footerlogo {
    margin-top: 20px;
    width: 30%;
    margin-left: auto;
    cursor:pointer;
  }
  
  .footernav {
    margin-top: 50px;
    width: 30%;
  }
  
  .socials {
    margin-top: 50px;
    width: 30%;
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      padding: 0px 20px;
    }
  
    .footerlogo,
    .socials,
    .footernav {
      width: 100%;
    }
  }
  
