*{
    padding: 5;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color:  #23242a;
}

nav{
    background-color:  #3a3a3a;
    height: 80px;
    width: 100%;

}

nav ul{
    margin: 0;
    list-style-type: none;
    width: 100%;
    text-align: center; 
}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;

}

nav ul li a{
color:white;
font-size: 17px;
text-transform: uppercase;
text-decoration: none;
padding: .2em 1em; 
}

.boxbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#box{
    display: none;
}



#btn{
    color: pink;
}


nav li { 
    display: inline; 
    min-width:100px;
}
nav li:hover{
    background: #c85e01;
    transition: .5s;
}


/*Footer */


.footer {
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color:  #3a3a3a;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .links li {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .links li a {
    color: white;
  }
  .links li a:hover {
    color: #c85e01;
  }
  .footerlogo {
    margin-top: 20px;
    width: 30%;
    margin-left: auto;
    cursor:pointer;
  }
  
  .footernav {
    margin-top: 50px;
    width: 30%;
  }
  
  .socials {
    margin-top: 50px;
    width: 30%;
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      padding: 0px 20px;
    }
  
    .footerlogo,
    .socials,
    .footernav {
      width: 100%;
    }
  }
  


/*Products Page */

.departments-header h2{
    text-align:center;
    padding: 40px;
    font-size: 30px;
    border-bottom: 10px solid rgb(71, 71, 71);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.dept-container{
    max-width: 2500px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dept{
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.dept h3{
    color: white;
    padding-top:30px;
    padding-bottom:20px;
}

.dept h3:hover{
    color:#c85e01;
    transition: .5s;
}

img:hover{
  opacity: 0.5;
}

.products-header h2{
    text-align:center;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    border-bottom: 10px solid rgb(71, 71, 71);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.product-container{
    max-width: 2000px;
    margin: 3rem 0;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item{
    width: calc(20% - 16px);
    margin: 8px;
    max-width: 250px;
}
.product-item img{
    width: 100%;
    display: block;
}
.product-item .product-name{
    display: block;
    text-decoration: none;
    font-size: 20;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(71, 71, 71);
    min-height: 75px;
    font-size: 20px;
}
.product-item .price{
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(71, 71, 71);
    font-size: 20px;
}

.in-stock{
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(71, 71, 71);
    font-size: 20px;
}

.addBtn{
    
    background-color:  rgb(71, 71, 71);
    cursor:pointer;
    width:100%;
    height:50px;
    border:none;
    font-size:20px;
    color:white;
}

.addBtn:hover{
    background-color:#c85e01;
    transition: .5s;
}

 .addtocartBtn{
    margin-top: 10px;
    background-color: rgb(71, 71, 71);
    cursor:pointer;
    width:100%;
    height:50px;
    border:none;
    font-size:20px;
    color:white;
}

.addtocartBtn:hover{
    background-color:#c85e01;
    transition: .5s;
}


.product-type{
    visibility: hidden;
}

/*Selected Product */

.product-container{
    max-width: 2000px;
    margin: 3rem 0;
    padding:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container{
    width:600px;
    height:600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.product-image{
    position:relative;
}
.product-image img{
    max-height:600px;
    max-width:600px;
}

.info-container{
    max-width:500px;
    padding:75px;
}


.info-container h2{
    padding-top:25px;
    padding-bottom:50px;
}

.info-container p{
    font-size: 25px;
    padding-bottom:50px;
}

button{
    position:relative;
    margin-right:auto;
    margin-left:auto;
    height:50px;
    width:100%;
    display:block;
    opacity:0.6;
    cursor:pointer;
    font-size: 20px;
    font-weight: bold;
}

.controls{
    position:absolute;
    top:20px;
    right:10px;
}

.imagebtn{
    display:block;
    width:40px;
    height:40px;
    font-size:30px;
    margin:10px;
    cursor:pointer;
}
.imagebtn i{
color: #595959;
}

.info-container label {
    font-size:20px;
    padding-bottom:50px;
}

.info-container select {
    margin-bottom:30px;
    border:none;
    background-color:#3a3a3a;
    color:white;
    width:40px;
    height:30px;
    font-size:15px;
}

/* SEARCH PRODUCT*/

.wrap{
    width: 50%;
    padding-top:50px;
    margin-left:auto;
    margin-right:auto;
  }

.search {
    width: 100%;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid rgb(71, 71, 71);
    border-right: none;
    padding: 5px;
    height: 40px;
    color:white;
    background-color:#595959 ;
    outline:none;
  }
  
  
  .searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #595959;
    background:  #595959;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }

  
/* SEARCH PRODUCT*/

.cart-container{
    max-width: 1300px;
    margin: 3rem 0;
    margin-top:100px;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}


.cart-productinfo{
    max-width:75%;
}

.cart-item{
  width:75%;
  margin-bottom:50px;
}
.cart-image{
   max-width:250px;
   float:left;
   margin-right:50px;
}

.removeBtn{
    color:white;
    width:50px;
    height:50px;
    background-color:  #23242a;
    border: none;
}

.cart-container h2{
    padding-top:10px;
}

.total-header h2{
    text-align:center;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    border-bottom: 10px solid rgb(71, 71, 71);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px){
    .product-item{
        width: calc(25% - 16px);
    }
}
@media screen and (max-width: 992px){
    .product-item{
        width: calc(33.333% - 16px);
    }
}
@media screen and (max-width: 768px){
    .product-item{
        width: calc(50% - 16px);
    }
}
@media screen and (max-width: 576px){
    .product-item{
        width: calc(100% - 16px);
    }
}

