@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
/* Center the form on the page */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
/* Style the form box */
.formBox{
    padding: 40px;
    border: 8px solid #23242a;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
     
}
/* Style the form container */

.formBox .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
}

/* Style the form title */
.formBox .form h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;

}
/* Style the input container */
.formBox .form .Inp{
    position: relative;
    width: 300px;

}
/* Style the form input */
.formBox .form .Inp input{
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background-color: #c37300;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: none;

}
/* Style the input label */
.formBox .form .Inp span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
}
/* Style the input label when valid or focused */
.formBox .form .Inp input:valid ~span,
.formBox.form .Inp input:focus ~span
{
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: #223243;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em;
    padding: 0 9px;
    border-radius: 10px;
    letter-spacing: 0.1em;
    
}
/* Style the input when valid or focused */
.formBox .form .Inp input:valid ,
.formBox .form .Inp input:focus 
{
    border: 1px solid #00dfc4;

}
 
.formBox .form .Inp i{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: #fff;
    border-right: 1px solid #00dfc4;
    
}
.formBox .form .Inp input[type="submit"]{
    background: #00a33b;
    color: #223243;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.formBox .form p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75em;
    font-weight: 300;


}

a.btn{
    font-weight: 500;
    color: #fff;
    text-decoration: none;    
}

